body{
    background-color: aqua;
}

section{
    background-color: #FF00FE;
    border: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    width: 50rem;
    height: 40rem;
}


.info{
    border: solid;
    border-color: blue;
    margin-left: 1rem;
    margin-right: 5rem;
}

h1{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.list{
    list-style: none;
    /* margin-top: 2rem; */
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.display-result {
    border-style: solid;
    border-color: red;
    max-width: 10rem;
}

#character-image {  
    width: 20rem;
    height: 35rem;
}