body{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: #FF00FE;
    border: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    width: 50rem;
    height: 40rem;
}


.info{
    margin-left: 1rem;
    margin-right: 5rem;
}

h1{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.list{
    list-style: none;
    /* margin-top: 2rem; */
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.display-result {
    border-style: solid;
    border-color: red;
    max-width: 10rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#character-image {  
    width: 20rem;
    height: 35rem;
}

#btn{
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#btn:hover,
#btn:focus {
  background-color: #F082AC;
}

#reset-btn{
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#reset-btn:hover,
#reset-btn:focus {
  background-color: #F082AC;
}